*{
    margin: 0%;
    padding: 0%;
    }
    
    body{
        font-family: 'Sono', sans-serif;
    }
    
    
    .cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0px 0px 0px 400px;
    }
    
    .cabecalho__imagem {
    ;
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 150px;
    
    }
    
    .cabecalho__titulo , .cabecalho__menu {
    
        display: inline;
    
    }
    
    .cabecalho__menu-item{
        font-size: 15px;
        color:#ffffff
        -webkit-text-stroke-width: 100px;
        -webkit-text-stroke-color: black;
        display: inline;
        margin: 0px 0px 0px 20px;
    }
    
    .escola{
        margin: 25px;
        padding: 20px;
        background-color:#ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }
    
    .escola__imagem{
        margin: 10px;
        width: 300px;
        height: min-content;
    }
    .escola__titulo{
    
        text-align: center;
    }
    .escola__paragrafo{
        text-align: center;
    }
    
    .professores{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
        grid-template-rows: auto auto auto auto;
        background-color: #ffffff;
        border-radius: 70px;
        margin: 50px;
        justify-items: center;
        gap: 30px
    
    }
    .professores__div {
    text-align: center;
    }
    
    .professores__div-imagem{
    width: 70px;
    height: auto;
    
    }